/* Importerar typsnitt från Google Fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto+Slab:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&family=Roboto+Slab:wght@400;500;700&display=swap');

/* --- Sätter variabler för färger --- */
:root {
  /* HUVUDFÄRG: PostNord-blå */
  --main-color: #218CC8;

  /* ACCENTFFÄRG: Mörk huvudfärg */
  --main-color-dark: #0E4767;

  /* ACCENTFÄRG: Magenta/rosa/orange */
  --accent-color: #F44559;

  /* ACCENTFÄRG MÖRK: Magenta/rosa/orange */
  --accent-color-dark: #d3263a;

  /* BG-VIT */
  --main-bg-color: #f4f4f4;

  /* TEXTFÄRG: Nästan svart version av PostNord-blå */
  --main-text-color: #312B45;
}



/* --- STYLING BÖRJAR HÄR --- */
* {
  margin: 0;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
}

/* vågen i toppen */
.custom-shape-divider-top-1621601788 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1621601788 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 37px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1621601788 .shape-fill {
  fill: #0E4767;
}

/* slut på vågen */

#logo-navbar-row {
  display: flex;
}

header {
    margin: 0% 13% 0% 13%;
}

#column-logo {
  margin: auto;
  flex: 15%;
  text-align: center;
  /*position: relative;*/
}

#column-nav {
  margin: 3% 0% 0% 1%;
  flex: 60%;
}

#column-logo > a h1 {
  padding: 15% 8% 8% 8%;
  border-radius: 0px 0px 30px 30px;
  font-family: 'Roboto Slab';
  color: white;
  font-size: 2em;
  background-color: var(--main-color);
  transform: translateY(-20%);
  transition: 0.3s ease;
  cursor: pointer;
}

#column-logo > a {
  text-decoration: none;
  color: white;
}

#column-logo > a h1:hover {
  /*padding: 10% 8% 8% 8%;*/
  transform: translateY(-15%);
}

/* NAVIGATION BAR */

#navbar-links, #navbar-accessability, #navbar-links li, #navbar-accessability li {
  display: inline;
  font-family: Overpass;
  font-size: 1.05em;
  padding-left: 5%;
  font-weight: 700;
}

#navbar-links a {
  color: #0E4767;
  text-decoration: none;
  transition: 0.1s ease;
}

#navbar-links a:active {
  color: var(--accent-color);
}

#navbar-accessability {
  padding-left: 10%;
}

#navbar-accessability i {
  padding-right: 0.5%;
}

#navbar-accessability li {
  color: rgb(95, 95, 95);
  cursor: pointer;
  font-size: 0.95em;
  transition: 0.1s ease;
}

#column-nav a:hover {
  border-bottom: 3px var(--accent-color) solid;
}

#accessability-1:hover, #accessability-2:hover {
  color: var(--accent-color);
}


/* INNER CONTAINER */

#homepage-content {
  margin: 7% 15% 7% 15%;

}

#homepage-content h1 {
  font-family: Roboto Slab;
  margin: -2% 0 -2% 0;
  padding: 2%;
  font-size: 2em;
  color: var(--main-text-color);
}

#homepage-content h2 {
  font-family: Overpass;
  font-weight: 300;
  padding-bottom: 5%;
  line-height: 1.5em;
  padding: 1.5% 0% 8% 2%;
  font-size: 1.2em;
  color: var(--main-text-color);
}


/* LEKTIONSGRID START */
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  position: relative;
  margin: 2% 0% 3% 0%;
}

.grid-item {
  display: grid;
  grid-auto-rows: 50%;
  height: 25em;
  width: 18em;
  padding: 1em 2.3em 3em 2.3em;
  transition: 0.3s ease;
  filter: drop-shadow(0px 0px 8px #312b4538);
}

.grid-item:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
  filter: drop-shadow(0px 0px 10px #312b4557);
}

.grid-container a { 
  text-decoration: none;
}

.lektionsbild {
  z-index: 100;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
  transform: translateY(-22%);
}
/* Individuell transform för varje lektionsbild */
#fyra, #fem {
  transform: translateY(15%);
}

#ett {
  transform: translateY(-14%) scale(121%);
}

#tva {
  transform: translateY(-14%);
}

#tre {
  transform: translateY(-15%);
}

#sex {
  transform: translateY(280%);
}

.lektion-top {
  background-color: white;
  border-radius: 30px 30px 0px 0px;
}

.lektion-bottom {
  background-color: #E8E8E8;
  border-bottom: solid var(--accent-color) 7px;
  z-index: -5;
}

.lektion-bottom h3, .lektion-bottom h4, .lektion-bottom p {
  padding: 5% 7% 0% 7%;
  color: var(--main-text-color);
}

.lektion-bottom h3 {
  font-size: 1.65em;
  font-family: Roboto Slab;
  font-weight: 700;
}

.lektion-bottom h4 {
  font-size: 1.3em;
  font-family: Overpass;
  color: var(--accent-color-dark);
  margin-top: -2%;
  font-weight: 400;
}

.lektion-bottom p {
  font-size: 1em;
  font-family: Overpass;
  font-weight: 300;
  margin-top: -1%; 
}

/* ----- INFO ROW -- */

#column-information-row {
  display: flex;
  color: var(--main-text-color);
  padding: 3.5% 2% 10% 2%;
  font-family: 'Overpass';
  font-weight: 300;
  font-size: 1em;
}

#column-help, #column-info {
  flex: 10%;
}

#column-help  p, #column-info p  {
  padding: 0% 10% 0% 0%;
  margin: -2% 0 0 0;
  line-height: 1.5em;
}

#column-help  h3, #column-info  h3 {
  font-family: 'Roboto Slab';
}


/* --- FOOTER --- */
footer {
  background-color: var(--main-color);
  min-height: 10em;
}

.footer-svg-container {
  position: relative;
}

/* ----- Vågen i botten ---- */
.custom-shape-divider-top-1621603329 {
  position: absolute;
  bottom: -0.5em;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

.custom-shape-divider-top-1621603329 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 66px;
}

.custom-shape-divider-top-1621603329 .shape-fill {
  fill: #218CC8;
}

#footer-navbar-row {
  display: flex;
  padding-top: 1%;
  margin: -5% 12% 0 12%;
  z-index: 100;
  position: relative;
}


#footer-nav ul {
  padding: 4%;
  font-family: Overpass;
  font-weight: 700;
}


#footer-nav li {
  padding: 5%;
  display: inline;
  font-size: 1.1em;
}


#sthlm-logo{
  width: 10em;
  height: auto;  
}


#column-sthlm-logo {
  flex: 10%;
}

#footer-nav {
  flex: 60%;
  text-align: left;
}

footer a {
  color: white;
  font-size: 1em;
  font-weight: 400;
  border-bottom: 2px white solid;
  padding-bottom: 0.15em;
  text-decoration: none;
}

footer a:hover {
  border-bottom: 3px var(--accent-color) solid;
  transition: 0.1s ease;
}

/* LEKTION CSS */

.lektion-content, .main-content {
  margin: 7% 23% 14% 23%;
  filter: drop-shadow(0px 0px 8px #312b4538);
}

.hero-container {
  background: rgb(243, 243, 243);
  border-radius: 70px 70px 0px 0px;
  display: flex;
  flex-direction: column;
}

#link-tree {
  padding-top: 2.5em;
  padding-left: 1em;
}

#link-tree li, #link-tree a {
  font-family: 'Overpass';
  font-weight: 700;
  font-size: 0.9em;
  color: var(--main-color-dark);
  text-decoration: none;
  list-style-type: none;
  display: inline;
}

#link-tree a:hover {
  text-decoration: underline;

}

#link-tree li h5 {
  font-family: 'Overpass';
  font-weight: 700;
  font-size: 0.9em;
  color: var(--accent-color);
  display: inline;
  
}

.hero-container li a, h5, .hero-column-row li a, h5 {
  padding:0.7em;
}

#link-tree h5 {
margin: -1.1em;
}

.fa-arrow-right {
  padding-left: 0.5em;
}

.fa-arrow-left {
  padding-right: 0.5em;
}

.line {
  padding-right: 0.3em;
  height: 25px;
  border-left: 2px solid var(--main-color-dark);
  display: inline;
  }


.lektion-info-container, .hero-column-row {
  margin: 7% 10% 0% 10%;
  color: var(--main-text-color);
  font-family: Overpass;
  font-weight: 300;
}

.lektion-info-lessonlinks .fa-arrow-right {
  padding-right: 1em;
  padding-left: 0;
}

.hero-column-row {
  display: flex;
}

.hero-column-item {
  flex: 50%;
}

.hero-column-item img {
  width: 100%;
}

/* Gridcontainer för undersidor med grid */
.grid-container-subpage {
  background-color: #fcfcfc;
  position: relative;
  border-width: 0px 0px 10px 0px;
  border-style: solid;
  border-color: var(--accent-color);
  overflow: hidden;
  padding-top: 5%;
  
}

/* Grid för subpages */
.grid-four-column {
  position: relative;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 2em;
  padding: 5%;
}

/* Griditem för subpages */
.grid-link-group {
  background-color: aliceblue;
  padding:  1em;
}

.lol {
  background-color:pink;
  font-family: 'Overpass';
}

.grid-four-column-item {
  padding: 3em;
  height: 100%;
  width: 100%;
  grid-auto-rows: 60%;
  transition: 0.3s ease;
}

.bokstav {
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-bottom: 1.5em;
  color: var(--accent-color);
  font-family: 'Overpass';
  font-weight: 700;
}

.ord {
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.5em;
}

.grid-four-column-item ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1em;
}

.grid-four-column-item a {
  color: var(--main-text-color);
  transition: 0.1s ease;
  text-decoration: underline;
}

.grid-four-column-item a:hover {
  font-weight: 400;
  color: var(--accent-color);
}

.lektion-info-lessonlinks {
  padding-top: 1.5%;
}

.lektion-info-container a, .hero-column-row a {
  display: block;
  padding-top: 2%;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: underline;
  list-style: none;
} 

.lektion-info-container a:hover, .hero-column-row a:hover {
  color: var(--accent-color-dark);
} 

.lektion-info-container h1, .hero-column-row h1 {
  font-family: Roboto Slab;
  font-size: 2.2em;
  padding: 2% 0% 3% 0%;
}

.info-img {
  transform: translateY(-10%) translateX(15%);
}

.lektion-info-img {
  transform: translateY(-55%) translateX(105%);
  width: 50%;
}

.info-container-remsa {
  background-color: var(--main-color);
  height: 13em;
  margin: 1.5em 0em -10em 0em;
}

.lektion-info-container-remsa {
  background-color: var(--accent-color);
  height: 13em;
  margin: 8em 0em -10em 0em;
}

.lektion-info-container h2 {
  padding-top: 1%;
  font-weight: 400;
  font-size: 1.3em;
  max-width: 80%;
}

.lektion-info-container h3 {
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
}

.hero-column-row h4 {
  font-weight: 400;
  padding-top: 2%;
  font-size: 1.3em;
  line-height: 1.4em;
  max-width: 80%;
}

.lektion-content-container {
  background-color: #fcfcfc;
  position: relative;
  border-width: 0px 0px 10px 0px;
  border-style: solid;
  border-color: var(--accent-color);
  overflow: hidden;
}

.lektion-textbox {
  padding: 15% 21.5% 15% 21.5%;
  font-family: Overpass;
  color: var(--main-text-color);
}

.lektion-textbox i, .howto-textbox-column-1 i, .howto-textbox i, .textbox-strong i{
  padding-left: 2.8%;
  cursor: pointer;
  color: var(--accent-color);
}

.lektion-textbox strong, .howto-textbox-column-1 strong, .howto-textbox strong {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  padding-bottom: 3%;
  color: var(--accent-color);
}

.img-container-remsa {
  background-color: rgba(33, 140, 200, 0.22);
  max-height: 10em;
  z-index: -10;
}

.img-container-img {
  width: 33%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.lektion-textbox h3, .howto-textbox-column-1 h3, .howto-textbox h3 {
  font-family: Overpass;
  font-weight: 700;
  font-size: 1.3em;
  padding-bottom: 3%;
}

.lektion-del {
  color: var(--main-text-color);
  font-size: 1.2em;
}

.lektion-textbox p, .howto-textbox-column-1 p, .howto-textbox p{
  font-weight: 300;
  font-size: 1.13em;
  line-height: 1.8em;
}

/* --- LEKTION HOW TO --- */

.howto-content-container {
  background-color: #fcfcfc;
  position: relative;
  border-width: 0px 0px 10px 0px;
  border-style: solid;
  border-color: var(--accent-color);
  overflow: hidden;
}

.blurb-container {
  padding: 0% 10% 0% 10%;
}

.howto-column-row {
  display: flex;
}

.howto-textbox-column-1, .howto-textbox-column-2 {
  padding: 10% 5% 10% 5%;
  font-family: Overpass;
  color: var(--main-text-color);
}

.howto-textbox-column-2 {
  width: 80%;
  transform: none;
}

.howto-textbox-column-1 {
  width: 120%;
  transform: none;
}

.howto-textbox-column-2 img {
  width: 80%;
}

.howto-info-img-smaller {
  transform: translateY(-60%) translateX(50%) scale(60%);
  max-width: 70%;
}

.howto-lektionsbild {
  padding-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.howto-textbox {
  padding: 10% 20% 10% 20%;
  font-family: Overpass;
  color: var(--main-text-color);
}

/* --- Individuell styling för How to-bilder --- */
.howto-lektionsbild#howto-1 {
  transform: translateY(30%) translateX(70%) scale(250%);
}

.howto-lektionsbild#howto-2 {
  transform: translateY(15%) scale(140%);
  padding-bottom: 20%;
}

.howto-lektionsbild#howto-3 {
  transform:  translateX(20%) scale(150%);
}


/*--- Viktig textruta ---*/

.textbox-strong {
  padding: 8%;
  margin: 23% 12% 12% 12%;
  border-radius: 30px 30px 0px 30px;
  font-family: Overpass;
  background-color: rgb(243, 243, 243);
  color: var(--main-text-color);
  filter: drop-shadow(0px 0px 8px #312b4538);
}

.textbox-strong h3 {
  font-size: 1.5em;
  padding-bottom: 3%;
}

.textbox-strong li {
  padding: 1% 0% 1% 0%;
  font-weight: 300;
  font-size: 1.1em;
}

/* --- TILLBAKA TILL TOPPEN-KNAPP --- */

.button-container {
  height: 5em;
  padding-bottom: 10em;
  position: relative;
}

#back-to-top-button {
  padding: 1em;
  border: none;
  outline: none;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1em;
  font-family: 'Overpass';
  font-weight: 700;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.1s ease;
}

#back-to-top-button:hover {
  background-color: var(--accent-color-dark);
}

#back-to-top-button:focus {
  outline: 3px solid var(--main-text-color);
}

.fa-arrow-up {
  margin-left: 1em;
  margin-right: 1em;
}

/* TUBEN */

.tuben {
  text-align: center;
  font-family: 'Overpass';
  font-weight: 700;
  width: 50%;
  margin: 1em auto;
}

.tuben p {
  font-size: 1em;
  margin-bottom: 4.5em;
  color: var(--main-text-color);
  font-weight: 500;
}

.timeline {
  border-top: 3px solid var(--main-text-color);
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.link {
  position: relative;
  margin-top: 1em;
  transition: 0.1s ease;
}

.timeline a {
  color: var(--main-color-dark);
  text-decoration: none;
  font-size: 0.9em;
  font-family: 'Overpass';
  font-weight: 700;
  font-size: 0.9em;
  text-decoration: none;
  list-style-type: none;
}

.link:first-child {
  margin-left: -5.5em;
}

.link:last-child {
  margin-right: -5.5em;
}

.link::after {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--main-color);
  position: absolute;
  border-radius: 20px;
  top: -1.8em;
  left: 50%;
  transform: translateX(-50%);
}

.active::after,
.link:hover::after {
  background: var(--accent-color);
  transition: 0.1s ease;
}

.link:hover {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}